/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
body, html {
  background-color: #F4F3EE;
  color: #333333; }

h1 {
  font-family: "Maison Neue Bold", Calibri, Arial, Roboto, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0px; }
  @media only screen and (min-width: 480px) {
    h1 {
      font-size: 45px; } }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 55px; } }
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 65px;
      line-height: 54px; } }

h2 {
  font-family: "Maison Neue Medium", Calibri, Arial, Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0px;
  font-size: 18px;
  line-height: 23px; }
  @media only screen and (min-width: 992px) {
    h2 {
      letter-spacing: 1.14px;
      font-size: 20px; } }

h3 {
  margin-top: 0px; }

p {
  font-family: "Maison Neue Medium", Calibri, Arial, Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 23px; }

.blog-title {
  font-family: "Maison Neue Bold", Calibri, Arial, Roboto, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #122434;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.26px;
  line-height: 16px; }

.details-container {
  margin-top: 50px;
  padding-left: 15px; }

.details-small, .details-small a {
  font-family: "Maison Neue Mono", Calibri, Arial, Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #122434;
  font-size: 10px;
  letter-spacing: 0.98px;
  line-height: 17px; }

.details-small a:hover, .details a:hover {
  color: #B1C841; }

.details, .details a {
  font-family: "Maison Neue Mono", Calibri, Arial, Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #122434;
  font-size: 14px;
  letter-spacing: 0.98px;
  line-height: 17px; }

.section-title {
  padding-bottom: 50px;
  padding-left: 30px; }

.mf-navy {
  color: #122434; }

.mf-green {
  color: #B1C841; }

nav {
  opacity: 0;
  background-color: #F4F3EE;
  position: fixed;
  top: 0; }
  nav li > a {
    font-family: "Maison Neue Mono", Calibri, Arial, Roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    color: #B1C841;
    letter-spacing: 1.14px;
    text-align: center; }
    nav li > a:hover {
      background-color: transparent !important;
      color: #122434; }
  nav .navbar-toggle {
    width: 100%;
    text-align: center;
    margin: 8px 0px;
    color: #333333; }
  nav .button {
    font-family: "Maison Neue Mono", Calibri, Arial, Roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #B1C841;
    text-transform: uppercase;
    border: 2px solid #B1C841;
    background: transparent;
    font-size: 14px;
    letter-spacing: 1.14px;
    line-height: 14px;
    padding: 9px 16px !important; }
  nav #navbar {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      nav #navbar {
        background-color: #F4F3EE; } }

button {
  font-family: "Maison Neue Mono", Calibri, Arial, Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #B1C841;
  text-transform: uppercase;
  border: 2px solid #B1C841;
  background: transparent;
  font-size: 14px;
  letter-spacing: 1.14px;
  line-height: 14px;
  padding: 9px 16px; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px 0px 0px 15px; }

a {
  color: #B1C841;
  text-decoration: underline;
  font-family: "Maison Neue Medium", Calibri, Arial, Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 23px; }
  a:hover {
    color: #122434; }
  a:focus {
    color: #B1C841;
    text-decoration: none;
    background-color: #F4F3EE !important;
    outline: none; }

section {
  padding: 50px 0px; }

#fixed-logo {
  position: absolute;
  margin-top: 200px;
  height: 40px; }
  @media only screen and (min-width: 768px) {
    #fixed-logo {
      position: fixed; } }

#landing-page {
  padding-top: 100px; }
  #landing-page #title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  #landing-page .title-subheading {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
    -moz-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    -o-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
    min-width: 245px; }
    @media only screen and (min-width: 480px) {
      #landing-page .title-subheading {
        width: 351px; } }
    @media only screen and (min-width: 768px) {
      #landing-page .title-subheading {
        width: 422px; } }
    @media only screen and (min-width: 992px) {
      #landing-page .title-subheading {
        width: 492px; } }
    @media only screen and (min-width: 1200px) {
      #landing-page .title-subheading {
        width: 492px; } }
  @media only screen and (min-width: 992px) {
    #landing-page .title-subheading {
      margin-top: 60px;
      font-size: 20px; } }
  #landing-page .chevron {
    width: 34px;
    margin: 35px auto 0px auto;
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0);
    cursor: pointer;
    position: absolute;
    -webkit-animation: pulse 2s infinite ease-in-out;
    -moz-animation: pulse 2s infinite ease-in-out;
    -o-animation: pulse 2s infinite ease-in-out;
    animation: pulse 2s infinite ease-in-out; }
@-webkit-keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
    @media only screen and (min-width: 992px) {
      #landing-page .chevron {
        margin: 200px auto 0px auto; } }

#about article {
  padding-right: 40px;
  margin-bottom: 30px; }

#articles-list li {
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    #articles-list li a {
      font-size: 25px; } }

.work-article {
  height: 250px;
  padding-top: 60px; }
  .work-article img {
    margin-top: 10px;
    margin-bottom: 25px; }
  @media only screen and (min-width: 768px) {
    .work-article {
      padding-top: 100px; } }

#work {
  background-color: #FFF; }

.article-divider {
  border-top: 1px solid #eee; }

#contact {
  padding: 0px; }

footer .contact-section {
  padding: 70px 25px;
  height: 368px; }
  footer .contact-section h2 {
    letter-spacing: 3px; }
  footer .contact-section address {
    margin: 30px 0 30px 0; }
  footer .contact-section .space {
    margin-bottom: 20px; }
footer #contact-syd {
  background-color: #122434;
  color: #fff !important; }
  footer #contact-syd .details, footer #contact-syd .details a {
    color: #fff; }
  footer #contact-syd .details a:hover {
    color: #B1C841; }
footer #contact-ldn {
  background-color: #B1C841; }
  footer #contact-ldn .details a:hover {
    color: #fff; }

#soda {
  background: url("../img/soda.png") no-repeat; }
  #soda img, #soda p {
    display: inline;
    padding: 0px 20px 0 20px; }

#thats-it {
  background-color: #fff;
  text-align: center; }

#loader {
  background-color: #122434;
  z-index: 1;
  position: fixed; }

svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto; }

.path {
  fill: none;
  stroke: #B1C940;
  stroke-width: 1.5;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3.5s linear forwards;
  -webkit-animation: dash 3.5s linear forwards;
  -moz-animation: dash 3.5s linear forwards;
  -ms-animation: dash 3.5s linear forwards;
  -o-animation: dash 3.5s linear forwards; }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
