// Media Queries
// Mobile First Method
/* Custom, iPhone Retina */ 
$media-iphone: "only screen and (min-width : 320px)";

/* Extra Small Devices, Phones */ 
$media-xs: "only screen and (min-width : 480px)";

/* Small Devices, Tablets */
$media-sm: "only screen and (min-width : 768px)";

/* Medium Devices, Desktops */
$media-md: "only screen and (min-width : 992px)";

/* Large Devices, Wide Screens */
$media-lg: "only screen and (min-width : 1200px)";

// Colors
$color-mf-green: #B1C841;
$color-mf-navy: #122434;
$color-body: #333333;
$color-background: #F4F3EE;

// Typography
$font-title: "Maison Neue Bold", Calibri, Arial, Roboto, sans-serif;
$font-title-weight: bold;
$font-title-style: normal; 

$font-body: "Maison Neue Medium", Calibri, Arial, Roboto, sans-serif;
$font-body-weight: 500;
$font-body-style: normal;

$font-details: "Maison Neue Mono", Calibri, Arial, Roboto, sans-serif;
$font-details-weight: 300;
$font-details-style: normal;

body, html{
	background-color: $color-background;
	color: $color-body;
	// display: none;
}
h1{
	font-family: $font-title;
	font-weight: $font-title-weight;
	font-style: $font-title-style;
	font-size: 30px;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 0px;
		@media #{$media-xs} {
			font-size: 45px;
		}
		@media #{$media-sm} {
			font-size: 55px;
		}
		@media #{$media-md} {
			font-size: 65px;
			line-height: 54px;
		}
}
h2{
	font-family: $font-body;
	font-weight: $font-body-weight;
	font-style: $font-body-style;
	margin: 0px;
	font-size: 18px;
	line-height: 23px;

		@media #{$media-md} {
			letter-spacing: 1.14px;
			font-size: 20px;
		}
}
h3{
	margin-top: 0px;
}
p{
	font-family: $font-body;
	font-weight: $font-body-weight;
	font-style: $font-body-style;
	font-size:16px;
	line-height: 23px;
}
.blog-title{
	font-family: $font-title;
	font-weight: $font-title-weight;
	font-style: $font-title-style;
	color: $color-mf-navy;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1.26px;
	line-height: 16px;
}
.details-container{
	margin-top: 50px;
	padding-left: 15px;
}
.details-small, .details-small a{
	font-family: $font-details;
	font-weight: $font-details-weight;
	font-style: $font-details-style;
	color: $color-mf-navy;
	font-size: 10px;
	letter-spacing: 0.98px;
	line-height: 17px;
}
.details-small a, .details a{
	&:hover{
		color: $color-mf-green;
	}
}
.details, .details a{
	font-family: $font-details;
	font-weight: $font-details-weight;
	font-style: $font-details-style;
	color: $color-mf-navy;
	font-size: 14px;
	letter-spacing: 0.98px;
	line-height: 17px;
}
.section-title{
	padding-bottom: 50px;
	padding-left: 30px;
}
.mf-navy{
	color: $color-mf-navy;
}
.mf-green{
	color: $color-mf-green
}
nav {
	opacity: 0;
	background-color: $color-background;
	position: fixed;
	top: 0;

	li>a{
		font-family: $font-details;
		font-weight: $font-details-weight;
		font-style: $font-details-style;
		text-decoration: none;
		font-size: 14px;
		color: $color-mf-green;
		letter-spacing: 1.14px;
		text-align: center;
		&:hover{
			background-color: transparent !important;
			color: $color-mf-navy;
		}
	}
	.navbar-toggle{
		width: 100%;
		text-align: center;
		margin: 8px 0px;
		color: $color-body;
	}

	.button{
		font-family: $font-details;
		font-weight: $font-details-weight;
		font-style: $font-details-style;
		color: $color-mf-green;
		text-transform: uppercase;
		border: 2px solid $color-mf-green;
		background: transparent;
		font-size: 14px;
		letter-spacing: 1.14px;
		line-height: 14px;
		padding: 9px 16px !important;
	}
	#navbar{
		background-color: #fff;
		padding-top: 20px;
		padding-bottom: 20px;		
		@media #{$media-sm} {
				background-color: $color-background;
		}
	}
}

button{
	font-family: $font-details;
	font-weight: $font-details-weight;
	font-style: $font-details-style;
	color: $color-mf-green;
	text-transform: uppercase;
	border: 2px solid $color-mf-green;
	background: transparent;
	font-size: 14px;
	letter-spacing: 1.14px;
	line-height: 14px;
	padding: 9px 16px;
}

ul{
	list-style: none;
	margin: 0px;
	padding: 0px 0px 0px 15px;
}
a{
	color: $color-mf-green;
	text-decoration: underline;
	font-family: $font-body;
	font-weight: $font-body-weight;
	font-style: $font-body-style;
	font-size:16px;
	line-height: 23px;
	&:hover{
		color: $color-mf-navy;
	}
	&:focus{
		color: $color-mf-green;
		text-decoration: none;
		background-color: $color-background !important;
		outline: none;
	}
}


section{
	padding: 50px 0px;
}


// LANDING PAGE


#fixed-logo{
	position: absolute;
	margin-top: 200px;
	height: 40px;
	@media #{$media-sm} {
		position: fixed;
	}
}

#landing-page{
	padding-top: 100px;
	
	#title-text{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.title-subheading{
		position: absolute;
		left: 50%;
		-webkit-transform: translate(-50%, 0px);
		-moz-transform: translate(-50%, 0px);
		-ms-transform: translate(-50%, 0px);
		-o-transform: translate(-50%, 0px);
		transform: translate(-50%, 0px);
		min-width: 245px;
		@media #{$media-xs} {
			width: 351px
		}
		@media #{$media-sm} {
			width: 422px
		}
		@media #{$media-md} {
			width: 492px
		}
		@media #{$media-lg} {
			width: 492px
		}
	}

	@media #{$media-md} {
		.title-subheading{
			margin-top: 60px;
			font-size: 20px;
		}
	}
	.chevron{
		width: 34px;
		margin: 35px auto 0px auto;
		position: absolute;
		bottom: 20px;
		left: 50%;
		-webkit-transform: translate(-50%, 0%);
		-moz-transform: translate(-50%, 0%);
		-ms-transform: translate(-50%, 0%);
		-o-transform: translate(-50%, 0%);
		transform: translate(-50%, 0);
		cursor: pointer;
		position: absolute;
		@-webkit-keyframes pulse {
		 	0% {
				opacity: 1;
			}
		  	50% {
		    	opacity: 0.5;
		    }
		  	100% {
		    opacity: 1;
			}
		 }
		-webkit-animation: pulse 2s infinite ease-in-out;
		-moz-animation: pulse 2s infinite ease-in-out;
		-o-animation: pulse 2s infinite ease-in-out;
		animation: pulse 2s infinite ease-in-out;
		

		@media #{$media-md} {
			margin: 200px auto 0px auto;
		}
	}
}




// ABOUT SECTION
#about{
	article{
		padding-right: 40px;
		margin-bottom: 30px;
	}
}


#articles-list{
	li{
		margin-bottom: 20px;
		a{
		@media #{$media-sm} {
			font-size: 25px;
			}
		}
	}
}



//  WORK SECTION

.work-article{
	height: 250px;
	padding-top: 60px;
	img{
		margin-top: 10px;
		margin-bottom: 25px;
	}
	@media #{$media-sm} {
		padding-top: 100px;
	}
}

#work{
	background-color: #FFF;
}

.article-divider{
	border-top: 1px solid #eee;
}

// FOOTER

#contact{
	padding: 0px;
}

footer{
	.contact-section{
		padding: 70px 25px;
		height: 368px;
		h2{
			letter-spacing: 3px;
		}
		address{
			margin: 30px 0 30px 0;
		}
		.space{
			margin-bottom: 20px;
		}
	}

	#contact-syd{
		background-color: $color-mf-navy;
		color: #fff !important;
		.details, .details a{
			color: #fff;
		}
		.details a{
			&:hover{
				color: $color-mf-green;
			}
		}
		@media #{$media-sm} {
			// float: right;
		}
	}

	#contact-ldn{
		background-color: $color-mf-green;
		.details a{
			&:hover{
				color: #fff;
			}
		}
	}
}	

// SODA
#soda{
	background: url('../img/soda.png') no-repeat;
	img, p{
		display: inline;
		padding: 0px 20px 0 20px;
	}
}

// THATS IT
#thats-it{
	background-color: #fff;
	text-align: center;
}

// LOADER
#loader{
	background-color: $color-mf-navy;
	z-index: 1;
	position: fixed;
}

svg{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto auto;
}
.path{
	fill:none;
	stroke:#B1C940;
	stroke-width:1.5;
	stroke-dasharray:1000;
	stroke-dashoffset:1000;
	animation:dash 3.5s linear forwards;
	-webkit-animation:dash 3.5s linear forwards;
	-moz-animation:dash 3.5s linear forwards;
	-ms-animation:dash 3.5s linear forwards;
	-o-animation:dash 3.5s linear forwards;
}
@-webkit-keyframes dash{
	to{
		stroke-dashoffset:0;
	}
}
@keyframes dash{
	to{
		stroke-dashoffset:0;
	}
}


















